.App {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.modal-card {
  z-index: 1;
  background-color: #ffffff;
  max-width: 500px;
  max-height: 500px;
}

h2 {
  font-size: 28px;
  text-transform: capitalize;
  color: rgb(255, 81, 0);
  text-align: center;
  margin: 10px;
  background-color: #ffffff;
}
